.center {
    text-align: center;
    margin: auto;
}

.centerWithLeftText {
    text-align: left;
    margin: auto;
}

/*https://stackoverflow.com/questions/1269589/css-center-block-but-align-contents-to-the-left*/
/*keeps card names centered and left-justified*/
.text-center-outer {
    text-align: center;
}

.text-center-inner {
    display: inline-block;
    text-align: left;
}

.mentions {
    margin-left: 10px;
}

.l-margin {
    margin-left: 7px;
}

.margins > * {
    margin-right: 3px;
}

@media (min-width: 1024px) {
    #search {
        margin-top: 30%;
    }
}

.pointer {
    cursor: pointer;
}

/*codeium suggestions below*/
body {
    background-color: #f7f7f7;/*codeium suggestion*/
}

.search-container {
    padding: 20px;
    /*border: 1px solid #ddd;*/
}

.text-center-outer {
    color: #333;
}

.text-center-outer li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.text-center-outer li:hover {
    background-color: #ddd;
    color: #667;
}

.text-center-inner:hover {
    cursor: pointer;
}

.text-formatting-limit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

#search {
  padding: 30px;
}