.center {
    text-align: center;
    margin: auto;
}

.centerWithLeftText {
    text-align: left;
    margin: auto;
}

/*https://stackoverflow.com/questions/1269589/css-center-block-but-align-contents-to-the-left*/
/*keeps card names centered and left-justified*/
.text-center-outer {
    text-align: center;
}

.text-center-inner {
    display: inline-block;
    text-align: left;
}

.mentions {
    margin-left: 10px;
}

.l-margin {
    margin-left: 7px;
}

.margins > * {
    margin-right: 3px;
}

@media (min-width: 1024px) {
    #search {
        margin-top: 30%;
    }
}

.pointer {
    cursor: pointer;
}